:root {
  --timing: 0.35s;
}

.mainheader {
  margin-left: 20%;
  padding-right: 20%;
  transition: all var(--timing) 0.1s ease-out;

  .toogleArrow {
    transform: rotate(0deg);
    transition: all var(--timing) 0.1s ease-out;
  }
}

ion-router-outlet {
  margin-top: 3.5rem !important;
  transition: all var(--timing) ease-in-out;
}

.sidebar {
  transition: all var(--timing) 0.1s ease-out;

  ion-header {
    transition: all var(--timing) ease-in-out;
  }

  .active {
    --ion-text-color: var(--ion-color-primary);
    ion-icon {
      --ion-text-color-rgb: var(--ion-color-primary);
    }
  }
  .parent-active {
    font-weight: 500;
  }
  .sub-item {
    padding-left: 20px;
    font-size: small;
  }
}
.split-pane-md.split-pane-visible {
  .sidebar.split-pane-side {
    max-width: 20%;
  }
}
.sidebar-right {
  width: auto !important;
  max-width: 50vh !important;

  ion-header {
    margin-top: 56px;
  }

  ion-header:after {
    background: none;
  }
}

// lg or above screen
@media (min-width: 992px) {
  .sm-custom {
    .mainheader {
      margin-left: 56px;
      padding-right: 56px;
      transition: all var(--timing) ease-in-out;

      .toogleArrow {
        transform: rotate(180deg);
        transition: all var(--timing) ease-in-out;
      }
    }

    .sidebar {
      min-width: 65px !important;
      max-width: 73px !important;
      margin-left: -1rem;
      transition: all var(--timing) ease-in-out;

      ion-header {
        margin-left: 15px !important;
        transition: all var(--timing) ease-in-out;
      }
    }
  }
}

// lg below screen
@media (max-width: 991px) {
  .mainheader {
    margin: 0;
    padding: 0;
  }
  ion-router-outlet{
    margin-left: 0 !important;
  }
}

// animations
.fadeout {
  opacity: 0;
  transition: all;
}
