<!DOCTYPE html>
<html lang="es" id="html">
<head>
  <style id="styleToCssFromAjax"></style>
</head>
<body>
<div class="contentTicket" style="border:solid 1px #000">
  <div class="divTitleTicket" style="text-align: center;">
    <h3><u>GESTION INCIDENCIA</u></h3>
  </div>
  <div class="row">
    <div class="divHalfRow divResumeTotalText" >
      <b>-&nbsp;&nbsp;&nbsp;&nbsp;Nº incidencia: {{incidenceId}}</b><br/>
      <b>-&nbsp;&nbsp;&nbsp;&nbsp;Fecha inicio de incidencia: {{incidenceDate}}</b><br/>
      <b>-&nbsp;&nbsp;&nbsp;&nbsp;TIENDA: {{warehouse}}</b><br/>
      <b>-&nbsp;&nbsp;&nbsp;&nbsp;Dirección: {{warehouseDirection}}</b><br/>
      <b>-&nbsp;&nbsp;&nbsp;&nbsp;Razón social: {{Razón social}}</b><br/><br/>
    </div>
  </div>
  <div class="row"  style="border: 1px;">
    <div class="divHalfRow divPaymentTextRight"  style="border-top-style:dashed;border-width: 1px;">
      <br/><b>-&nbsp;&nbsp;&nbsp;&nbsp;Estado actual de la incidencia: {{status}}</b><br/>
      -&nbsp;&nbsp;&nbsp;&nbsp;Fecha estado actual: {{updatedAt}}<br/>
      -&nbsp;&nbsp;&nbsp;&nbsp;Atendido por: {{userAl}}<br/><br/>
    </div>
  </div>
  <div class="row">
    <div class="divHalfRow divPaymentTextRight" style="border-top-style:dashed;border-width: 1px;">
      <br/>-&nbsp;&nbsp;&nbsp;&nbsp;Artículo - Talla: {{product}} - {{size}}<br/>
      -&nbsp;&nbsp;&nbsp;&nbsp;Barcode: {{barcode}}<br/>
      <b class="type">-&nbsp;&nbsp;&nbsp;&nbsp;Tipo de defecto/s: {{defectType}}<br/></b>
      <b class="zone">-&nbsp;&nbsp;&nbsp;&nbsp;Zona de defecto/s: {{defectZone}}<br/></b>
      -&nbsp;&nbsp;&nbsp;&nbsp;Observaciones: {{observations}}<br/><br/>
    </div>
  </div>
  <div class="divMessagesFinalTicket" style="border-top-style:dashed;border-width: 1px;">
    <p style="text-align: center;">
      "Este recibo es un justificante de depósito para el estudio de la incidencia pero no implica la aceptación de la reclamación.
      Se le dará respuesta lo antes posible. Este recibo es imprescindible para la recuperación del artículo en depósito.
      El ticket de compra contiene nuestra política de cambios / devoluciones y es imprescindible para la gestión de su reclamación."
    </p>
  </div>
</div>
</body>
</html>
