<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
			  <h1 class="ion-text-center">Bienvenido a</h1>
              <!-- <div class="ion-text-center">Bienvenido a Krack2020</div> -->
              <!-- <div *ngIf="userRegisterTime" class="ion-text-center">{{dateInitRegisterTime()}}</div> -->
			</ion-col>


            <!-- <ion-col sizeXs="10" sizeSm="10" sizeMd="6" sizeLg="4" sizeXl="4" offsetXs="1" offsetSm="1" offsetMd="3" offsetLg="4" offsetXl="4" class="col-buttons">
                <ion-button *ngIf="!userRegisterTime" expand="block" (click)="register()">REGISTRAR INICIO</ion-button>
                <ion-button *ngIf="userRegisterTime" expand="block" (click)="stop()">DETENER REGISTRO</ion-button>
            </ion-col> -->
		</ion-row>
		<ion-row>
			<ion-col>
				<!--<ion-img class="ion-text-center img-logo" src="assets/img/Krack-LogoMarktype.svg"></ion-img>-->
                <h1 class="ion-text-center">ARCO</h1>
            </ion-col>
		</ion-row>
    </ion-grid>
</ion-content>
<!-- <ion-footer>
    <ion-button *ngIf="userRegisterTime && (redirect == 'logout')" slot="end" color="danger" (click)="cancel()">CANCELAR</ion-button>
</ion-footer> -->
