<ion-content padding>
  <ion-text color="primary"> <h1>Asignar grupo a tienda</h1> </ion-text>
  <mat-expansion-panel
    *ngFor="let group of groups"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ group.id }} </mat-panel-title>
      <mat-panel-description> {{ group.name }} </mat-panel-description>
    </mat-expansion-panel-header>

    <h2 class="example-h2"> Tiendas </h2>
    <div *ngIf="true">
      <mat-selection-list
        #warehousesSelection
        *ngFor="
            let warehouse of warehouses;
            let i = index;
          "
       >
        <mat-list-option
          #matListOption
          [selected]="warehouse.groupId == group.id"
          [value]="warehouse.name"
          (click)="assignGroupToWarehouse(warehouse, group)"
        >
          <p>{{ warehouse.name }}</p>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-expansion-panel>
</ion-content>
