<ion-app [ngClass]="{ 'sm-custom': displaySmallSidebar }" (window:resize)="onResize($event)">
    <ion-header *ngIf="showMainHeader && router.url != '/login'" [ngClass]="{ 'mainheader mainheader-fullheight': showMainHeader }">
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-button *ngIf="deploySidebarSmallDevices" (click)="toggleSidebarSmallDevices()">
                    <ion-icon name="menu" class="menu"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{ currentRoute }}</ion-title>
            <ion-buttons slot="secondary">
                <ion-button>
                    <ion-icon slot="icon-only" name="contact"></ion-icon>
                </ion-button>

                <button-incidences></button-incidences>

                <ion-button>
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-split-pane>
        <ion-menu menuId="sidebar" class="sidebar" [class.display-none]="router.url=='/login'">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>
                        <ion-icon name="menu" padding-right (click)="toggleSidebar()"></ion-icon>
                        <img *ngIf="!displaySmallSidebar" class="ion-padding-start" src="assets/img/Krack-Logo.svg" width="125vw" alt="krack logo sidebar" />
                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <suite-menu [alloweds]="dictionary"></suite-menu>
            </ion-content>
        </ion-menu>

        <ion-menu class="sidebar-right" menuId="sidebarRight" side="end" disabled="true">
            <ion-header>
                <ion-toolbar>
                    <ion-title>
                        <ion-label>Notificaciones</ion-label>
                    </ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="hideSidebarRight()">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <incidences-list></incidences-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet main animated="false"> </ion-router-outlet>
    </ion-split-pane>
</ion-app>